<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sum login</title>
  </head>
  <body>
    <form action="/login/courses" method="post">
      <input
      type="text"
      id="user"
      name="user"
      placeholder="Ingresa tu nombre"
      required
      />
      <input
      type="password"
      id="password"
      name="password"
      placeholder="Ingresa tu contraseña"
      required
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
